// executed as android.defaultConfig

resValue "string", "receiver_application_id", "MY_RECEIVER_ID"
buildConfigField "String", "GCL_USER", "\"my_username\""
buildConfigField "String", "GCL_PASSWORD", "\"my_password\""